In [7]:
import pandas as pd

In [68]:
df = pd.read_csv("https://raw.githubusercontent.com/fadayh/MOON/main/lung_cancer.csv")
df.head()

      pid  age gender   race   smoker  days_to_cancer stage_of_cancer
0  100001   70   Male  White  Current             NaN             NaN
1  100002   66   Male  White  Current             NaN             NaN
2  100003   64   Male  White  Current             NaN             NaN
3  100004   60   Male  White   Former             NaN             NaN
4  100005   64   Male  White   Former             NaN             NaN

In [17]:
df.loc[[6],["age"]]

   age
6   69

In [21]:
df.columns

Index(['pid', 'age', 'gender', 'race', 'smoker', 'days_to_cancer',
       'stage_of_cancer'],
      dtype='object')

In [52]:
df. interpolate ()

          pid  age  gender   race   smoker  days_to_cancer stage_of_cancer
0      100001   70    Male  White  Current             NaN             NaN
1      100002   66    Male  White  Current             NaN             NaN
2      100003   64    Male  White  Current             NaN             NaN
3      100004   60    Male  White   Former             NaN             NaN
4      100005   64    Male  White   Former             NaN             NaN
...       ...  ...     ...    ...      ...             ...             ...
53422  218890   73  Female  White  Current          2144.0             NaN
53423  218891   66    Male  White  Current          2144.0             NaN
53424  218892   56    Male  White   Former          2144.0             NaN
53425  218893   69    Male  White   Former          2144.0             NaN
53426  218894   57    Male  White  Current          2144.0             NaN

[53427 rows x 7 columns]

In [59]:
df.shape

(53427, 7)

In [65]:
df.dtypes

pid                  int64
age                  int64
gender              object
race                object
smoker              object
days_to_cancer     float64
stage_of_cancer     object
dtype: object

In [66]:
df.describe()

                 pid           age  days_to_cancer
count   53427.000000  53427.000000     2033.000000
mean   149778.048346     61.417448     1047.207083
std     44860.640458      5.023601      743.052899
min    100001.000000     43.000000        0.000000
25%    113363.500000     57.000000      398.000000
50%    126734.000000     60.000000      928.000000
75%    205491.500000     65.000000     1722.000000
max    218894.000000     79.000000     2618.000000

In [67]:
df.isna().sum()

pid                    0
age                    0
gender                 0
race                 261
smoker                 0
days_to_cancer     51394
stage_of_cancer    51395
dtype: int64