In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("file:///C:/Users/HP-/Downloads/lung_cancer.csv")
df.head()

      pid  age gender   race   smoker  days_to_cancer stage_of_cancer
0  100001   70   Male  White  Current             NaN             NaN
1  100002   66   Male  White  Current             NaN             NaN
2  100003   64   Male  White  Current             NaN             NaN
3  100004   60   Male  White   Former             NaN             NaN
4  100005   64   Male  White   Former             NaN             NaN

In [3]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np
import matplotlib.pyplot as plt
from pylab import rcParams
import seaborn as sb
from datetime import date

In [4]:
df.drop(['smoker','age'],axis=1,inplace=True)
df.head()

      pid gender   race  days_to_cancer stage_of_cancer
0  100001   Male  White             NaN             NaN
1  100002   Male  White             NaN             NaN
2  100003   Male  White             NaN             NaN
3  100004   Male  White             NaN             NaN
4  100005   Male  White             NaN             NaN

In [5]:
df.isna().any()

pid                False
gender             False
race                True
days_to_cancer      True
stage_of_cancer     True
dtype: bool

In [6]:
df['stage_of_cancer'].fillna(0,inplace=True)
df.isna().any()

pid                False
gender             False
race                True
days_to_cancer      True
stage_of_cancer    False
dtype: bool

In [7]:
df['days_to_cancer'].fillna(0,inplace=True)
df.isna().any()

pid                False
gender             False
race                True
days_to_cancer     False
stage_of_cancer    False
dtype: bool

In [8]:
df['race'].fillna(0,inplace=True)
df.isna().any()

pid                False
gender             False
race               False
days_to_cancer     False
stage_of_cancer    False
dtype: bool

In [9]:
df['pid']=(df['pid']/float(1000000)).round(2)
df

        pid  gender   race  days_to_cancer stage_of_cancer
0      0.10    Male  White             0.0               0
1      0.10    Male  White             0.0               0
2      0.10    Male  White             0.0               0
3      0.10    Male  White             0.0               0
4      0.10    Male  White             0.0               0
...     ...     ...    ...             ...             ...
53422  0.22  Female  White             0.0               0
53423  0.22    Male  White             0.0               0
53424  0.22    Male  White             0.0               0
53425  0.22    Male  White             0.0               0
53426  0.22    Male  White             0.0               0

[53427 rows x 5 columns]

In [10]:
df.rename({'pid':'infection ','race':'phase'},
         axis=1, inplace=True )
df.head()

   infection  gender  phase  days_to_cancer stage_of_cancer
0         0.1   Male  White             0.0               0
1         0.1   Male  White             0.0               0
2         0.1   Male  White             0.0               0
3         0.1   Male  White             0.0               0
4         0.1   Male  White             0.0               0